name: Workflows with large secrets

on: push

jobs:
  my-job:
    name: My Job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Decrypt large secret
      - shell: bash     
        env: 
          SPECIAL_KEY: ${{ secrets.FOURK_KEY2 }} 
        run: |
          echo "$SPECIAL_KEY"
          echo "done"
